// Bring in vanilla Bootstrap ...
@import 'custom-bootstrap/bootstrap.less';
// ... and then decorate it with Statesman styles
@import 'custom-bootstrap/variables.less';

@import "../../bower_components/font-awesome/less/font-awesome";

@import "header";
@import "footer";
@import "type";
@import "utils";
@import "twentytwenty";

// Override TwentyTwenty's before and after text
.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  content: attr(data-content);
}

.then-and-now-wrapper {
  border-top: 1px solid @gray-lighter;
  margin-top: @line-height-computed * 2.5;
  padding-top: @line-height-computed * 2.5;
  h2 {
    font-style: normal;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
  }
}
